/* ========================== NUCLEARFF STYLESHEET ========================== */
/* ------------------------- Author: Nolan MacDonald------------------------- */
/* ------------------------ CSS for Typing Animation ------------------------ */

.typing-animation {
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0; /* start collapsed */
  
  /* Steps in number of characters; Defined in section 3 mod_home.R */
  animation: typing 2s steps(var(--steps)), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

body {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}